.home-container {
  height: calc(100vh - 8px);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .box-item {
    display: flex;
    flex: 1 0 50%;
    min-width: 250px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
  }
  margin-left: 8px;
}
