.errorCode {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffff;
  font-size: 5vw;
  font-weight: 550;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #ffcc00, 0 0 15px #ffcc00, 0 0 20px #ffcc00,
    0 0 40px #ffcc00;
}

.error {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffff;
  font-size: 3vw;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.54), 0 0 15px rgba(0, 0, 0, 0.54),
    0 0 20px rgba(0, 0, 0, 0.54), 0 0 40px rgba(0, 0, 0, 0.54);
}
